<h1>Edición de Comentario</h1>

<%= render "form", comment: @comment, news: @news %>


<br>

<div>
  <%= link_to "Ver este comentario", @comment, class: "btn btn-primary" %> |
  <%= link_to "Volver a comentarios", comments_path, class: "btn btn-secondary" %>
</div>

<div>
  <%= link_to "Volver a Noticias", news_index_path, class: "btn btn-secondary" %>
</div>
