<h1>Nuevo Comentario</h1>

<%= render "form", comment: @comment %>

<br>

<div>
  <%= link_to "Volver a Comentarios", comments_path, class: "btn btn-primary" %>
</div>

<div>
  <%= link_to "Volver a Noticias", news_index_path, class: "btn btn-primary" %>
</div>

