<div id="<%= dom_id user %>">
  <p>
    <strong>E-mail:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.encrypted_password %>
  </p>

  <p>
    <strong>Rol:</strong>
    <%= user.role %>
  </p>

</div>
