<div id="<%= dom_id(news) %>" class="card">
  <div class="card-body">
    <h5 class="card-title">Titulo: <%= news.title %></h5>
    <p class="card-text">Contenido: <%= news.content %></p>
    
    <p class="card-text">Publicado por: <%= news.user.name %></p>
  </div>
</div>
